/* カラー */
@theme {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);

  --color-gray-*: initial;
  --color-gray-200: hsl(0, 0%, 85%);

  --color-purple-*: initial;
  --color-purple-500: hsl(235, 45%, 61%);
  --color-purple-600: hsl(246, 80%, 60%);
  --color-purple-700: hsl(264, 64%, 52%);

  --color-blue-*: initial;
  --color-blue-300: hsl(195, 74%, 62%);

  --color-orange-*: initial;
  --color-orange-300: hsl(15, 100%, 70%);

  --color-pink-*: initial;
  --color-pink-400: hsl(348, 100%, 68%);

  --color-green-*: initial;
  --color-green-400: hsl(145, 58%, 55%);

  --color-yellow-*: initial;
  --color-yellow-300: hsl(43, 84%, 65%);

  --color-navy-*: initial;
  --color-navy-200: hsl(236, 100%, 87%);
  --color-navy-800: hsl(235, 41%, 34%);
  --color-navy-900: hsl(235, 46%, 20%);
  --color-navy-950: hsl(226, 43%, 10%);

  --color-primary: hsl(4, 100%, 67%);
  --color-gradient: hsl(15, 100%, 61%);
}

/* spacing */
@theme {
  --spacing-*: initial;
  --spacing-0: 0;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
}

@theme {
  --breakpoint-*: initial;
  /* @mediaクエリ内ではvar()は許可されないため値を複製 */
  /* メディアクエリでは、値に応じて、中のスタイルを適用する。
  つまり、メディアクエリが先に判断していないと、スタイルを適用できないため、実行時に解決されるCSS変数は使うことができない。 */
  /* 参考URL：https://github.com/tailwindlabs/tailwindcss/discussions/15113 */
  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}
