@utility typo-xl {
  font-family: var(--font-rubik);
  font-weight: var(--font-weight-light);
  font-size: clamp(2rem, 0.569rem + 6.11vw, 3.5rem);
  line-height: clamp(2.375rem, 0.705rem + 7.12vw, 4.125rem);
  letter-spacing: 0;
}

@utility typo-user-name {
  font-family: var(--font-rubik);
  font-weight: var(--font-weight-light);
  font-size: clamp(1.5rem, 0.357rem + 2.38vw, 2.5rem);
  line-height: clamp(1.75rem, 0.393rem + 2.83vw, 2.938rem);
  letter-spacing: 0;
}



@utility typo-5-medium {
  font-family: var(--font-rubik);
  font-weight: var(--font-weight-medium);
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0;
}

@utility typo-5-regular {
  font-family: var(--font-rubik);
  font-weight: var(--font-weight-regular);
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0;
}

@utility typo-6 {
  font-family: var(--font-rubik);
  font-weight: var(--font-weight-regular);
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0;
}
